@import "tailwindcss";

@theme {
  --breakpoint-sm: 375px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --font-family-sans: var(--font-inter), "sans-serif";
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Medium breakpoint (md) */
@media (min-width: 768px) {
  .container {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}

/* Large breakpoint (lg) */
@media (min-width: 1024px) {
  .container {
    padding-right: 4rem;
    padding-left: 4rem;
  }
}
